h1 {
  color:#081c15;
  font-size: 30px;
  font-weight: 900;
  font-family: 'Quicksand', sans-serif;
}

h2 {
  color: #87986a;
  font-size: 18px;
  font-weight:bold;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: #f0efeb;
  color:#081c15;
  font-size: 17px;
  font-weight: 300;
  font-family: 'Quicksand', sans-serif;
}

.container {
  width: 600px;
  margin: 10px auto;
}

.card-white {
  background-color: white;
  padding: 40px;
  margin: 20px 0px;
  text-align: center;
  box-shadow: 0px 10px 30px rgba(18, 11, 11, 0.1);
  border-radius: 4px;
}

.img-circle {
  width: 250px;
  border-radius: 50%;
}

#introduction p {
  padding: 30px;
}

.btn-green:hover{
  background-color: #82A284;
}


.btn-green {
  background-color: #464E2E;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  font-family:'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline i {
  font-size: 28px;
}

.list-inline i:hover{
  color:#82A284;
}

.list-inline i {
  color:#081c15;
}
/*
laptops and desktops */
/* @media only screen and (min-width: 992px) {

}

/* On screens small device*/
/* @media screen and (max-width: 600px) {
  body {
    background-color:#87986a;
    font-size: 14px;
  }
  .container {width: 400px;
    margin: 6px auto;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 16px ;
  }
  .list-inline i {
    font-size: 22px;
}
.card-white {
  background-color: white;
  padding: 20px;
  margin: 10px 0px;
  text-align: center;
  box-shadow: 0px 10px 30px rgba(18, 11, 11, 0.1);
  border-radius: 4px;
}
.btn-green {
  padding: 10px 12px;
  border-radius: 4px;
  font-family:'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 14px;
}
} */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  body {
    background-color:#87986a;
    font-size: 14px;
  }
  .container {width: 300px;
    margin: 6px auto;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 16px ;
  }
  .list-inline i {
    font-size: 22px;
}
.card-white {
  padding: 20px;
  margin: 10px 0px;
  text-align: center;
  border-radius: 4px;
}
.btn-green {
  padding: 10px 12px;
  border-radius: 4px;
  font-size: 14px;
}
}
